@import url("https://fonts.googleapis.com/css?family=Acme|Lato&display=swap");
* {
  font-family: 'Acme',sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #3B548B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container {
  width: 550px;
  height: 280px;
  margin: 0 auto;
  background-color: #3B548B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container .form {
  width: 420px;
  height: 280px;
  margin: 0 auto;
  background-color: #3B548B;
  text-align: center;
  -webkit-box-shadow: 20px 20px 60px #324776, -20px -20px 60px #4461a0;
          box-shadow: 20px 20px 60px #324776, -20px -20px 60px #4461a0;
  border-radius: 18px;
  -webkit-animation: yourAnimation 1.5s forwards 0s ease-in-out;
          animation: yourAnimation 1.5s forwards 0s ease-in-out;
}

.main-container h4 {
  font-size: 1.8rem;
  color: #FF8F5E;
  letter-spacing: 1px;
  text-align: start;
  padding: 0rem 4rem;
  margin: 30px 0px;
}

.main-container [type="email"] {
  font-size: 16px;
  border-style: none;
  border-radius: 15px;
  -webkit-box-shadow: inset 20px 20px 60px #324776, inset -20px -20px 60px #4461a0;
          box-shadow: inset 20px 20px 60px #324776, inset -20px -20px 60px #4461a0;
  width: 300px;
  height: 50px;
  margin-top: 15px;
  outline: none;
  caret-color: #FF905F;
  background-color: transparent;
  padding-left: 18px;
  color: #7A91C6;
}

.main-container .input-grp {
  position: relative;
}

.main-container .input-grp span {
  position: absolute;
  top: 33px;
  background-color: transparent;
  left: 4.6rem;
  font-size: inherit;
  font-family: inherit;
  color: #7A91C6;
  -webkit-transition: all 0.5s  ease-in-out;
  transition: all 0.5s  ease-in-out;
  outline: none;
  pointer-events: none;
}

.main-container ::-webkit-input-placeholder {
  color: #7A91C6;
  padding-left: 20px;
}

.main-container :-ms-input-placeholder {
  color: #7A91C6;
  padding-left: 20px;
}

.main-container ::-ms-input-placeholder {
  color: #7A91C6;
  padding-left: 20px;
}

.main-container ::placeholder {
  color: #7A91C6;
  padding-left: 20px;
}

.main-container .form button {
  width: 120px;
  height: 50px;
  background-image: linear-gradient(45deg, #FF453B, #FF8F5E);
  color: white;
  -o-border-image: linear-gradient(20deg, #FF453B, #FF8F5E);
     border-image: linear-gradient(20deg, #FF453B, #FF8F5E);
  border-image-slice: 5;
  border-radius: 5px;
  word-spacing: 1px;
  font-size: 1.1rem;
  cursor: pointer;
  outline: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.main-container button:hover {
  -webkit-box-shadow: 0px 10px 10px -10px #FF8F5E;
          box-shadow: 0px 10px 10px -10px #FF8F5E;
}

.main-container .btn {
  text-align: start;
  margin: 1.5rem 4rem;
}

.main-container input:focus ~ span {
  top: -2px;
  left: 40px;
  color: white;
  background-color: #FF8F5E;
  padding: 5px;
  border-radius: 5px;
}

.main-container input:valid ~ span {
  top: -2px;
  left: 40px;
  color: white;
  background-color: #38cc8c;
  -webkit-box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.3);
  padding: 5px;
  border-radius: 5px;
}
/*# sourceMappingURL=forgotpassword.css.map */