@import 'utilities.scss';
.main-container{
   width: 550px;
    height: 515px;
    margin: 0 auto;
    background-color:$main-color; 
    display: flex;

    .form{
        width: 420px;
        height: 515px;
        margin: 0 auto;
    background-color:$main-color; 
    text-align: center;
    box-shadow: 20px 20px 60px $shadow1, -20px -20px 60px $shadow2;
    border-radius:18px;
    animation: yourAnimation 1.5s forwards 0s ease-in-out;
    
    
    }
    h4{
        font-size: 1.8rem;
        color: #FF8F5E;
        letter-spacing: 1px;
        text-align: start;
        padding: 0rem 4rem;
      margin:20px 0px;
       
    }
    input[type="text"],[type="password"],[type="email"]{
        font-size:16px;
        border-style: none;
        border-radius:15px;
        box-shadow: inset 20px 20px 60px $shadow1, inset -20px -20px 60px $shadow2;
        width:300px;
        height: 50px;
        margin-top: 15px;
        outline: none;
        caret-color:$caretc;
        background-color:transparent;
        padding-left: 18px;
        color:$placeh;  
    }
    .input-grp{
        position: relative;
    }
    .input-grp span{
        position: absolute;
        top:33px;
        background-color:transparent;
        left:4.6rem;
        font-size: inherit;
        font-family: inherit;
        color:$placeh;
        transition: all 0.5s  ease-in-out;
        outline: none;
        pointer-events: none;
        
    }
    .checkbox{
        display: inline-flex;
        width: 100%;
        justify-content: start;
        align-items: center;
        padding: 2rem 4rem;
    }
    p{
        color: $placeh;
        font-size: 15px;
        padding-left:0.5rem;
    }
    input[type="checkbox"]{
        width:34px;
        height:34px;
        background-color:transparent;
        box-shadow:  inset 15px 15px 15px $shadow1,  inset -15px -15px 15px $shadow2;
        -webkit-appearance: none;
        position: relative;
        border-radius:8px;
        outline: none;
        transition: all 0.5s ease;
        cursor: pointer;
        animation: blink 1s forwards ease;

        &::before{
            content:'';
            position: absolute;
            text-align: center;
          line-height: 2.3rem;
          font-size:1.6rem;
            
        }
      
        &:checked::before{
            content:'\2713';
            color:#2DE76D;
            position: absolute;
            width:100%;
            height: 100%;
            
        }
       
    }
    ::placeholder{
        color:$placeh;
        padding-left: 20px;
       
    }
    aside{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

       a{
        font-size: 13px;
        color:#aec3f5;
        text-decoration: none;
        transition: 0.5s ease;
        &:hover{
            color:#FF8F5E;
        }
       }
        
    }
    .form button{
        width:120px;
        height:50px;
       background-image: linear-gradient(45deg,#FF453B,#FF8F5E);
        color:white;
      border-image: linear-gradient(20deg,#FF453B,#FF8F5E);
      border-image-slice: 5;
      border-radius: 5px;
        word-spacing: 1px;
        font-size: 1.1rem;
        cursor: pointer;
        outline: none;
        transition: .5s;
    }
    button:hover{
        box-shadow:0px 10px 10px -10px #FF8F5E;
    }
    
    .btn{
        text-align: start;
        padding:0px 4rem ;
    }
    
      
        .icons{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height:26%;
                    }
        .fa{
           
            box-shadow: 20px 20px 60px $shadow1, -20px -20px 60px $shadow2;
             width:55px;
             height:55px;
            border-radius:10%;
            margin: 5px;
            padding:10px;
            cursor: pointer;
            transition: all 0.5s ease;
            color:#aec3f5;
            
        }
        .fa:hover{
            color:#FF8F5E;
            box-shadow:  inset 15px 15px 30px $shadow1,  inset -15px -15px 30px $shadow2;
        }
        @keyframes yourAnimation{
            0%{
                transform: translateY(-700px);
                opacity: 0;
                }
           
            100%{
                transform: translateY(0px);
                opacity: 1;
                }
        }
        input:focus ~span  {
            top:-2px;
            left:40px;
            color: white;
            background-color:#FF8F5E;
            padding: 5px;
            border-radius: 5px;
        }
        input:valid ~span {
            top:-2px;
            left:40px;
            color: white;
            background-color: hsl(154, 59%, 51%);
            box-shadow: 0px 10px 20px -5px rgba(0,0,0,0.3);
            padding: 5px;
            border-radius: 5px;
        }
         
          
          
       
       
    }
   
    






