@import url("https://fonts.googleapis.com/css?family=Acme|Lato&display=swap");


$main-color:#3B548B;
$shadow1:#324776;
$shadow2:#4461a0;
$caretc:#FF905F;
$placeh:#7A91C6;



*{
    font-family: 'Acme',sans-serif;
    box-sizing: border-box;

 }  
 body{
    background-color:$main-color;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
 }

